<nav id="left-sidebar-nav" class="sidebar-nav">
                        <ul id="main-menu" class="metismenu">   
                        
                        <li class="{% if page.name == "dashboard" %}active{% endif %}"><a href="{{ base_url() }}/dashboard">
                                <i class="icon-speedometer"></i> Dashboard
                            </a></li>
                            
                        
                            <li class="{% if page.name == "schools" %}active{% endif %}">
                                <a href="#App" class="has-arrow"><i class="icon-home"></i> <span>Schools</span></a>
                                <ul>
                                <li class="nav-item"><a href="{{ base_url() }}/manage-schools"><i class="icon-list"></i> List All Schools</a></li>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/register-school"><i class="icon-plus"></i> Register School</a></li>
                            </ul>
                            </li>
                            
                            <li class="{% if page.name == "timetable" %}active{% endif %}">
                                <a href="#App" class="has-arrow"><i class="icon-calculator"></i> <span>Manage Timetable</span></a>
                                <ul>
                                <li class="nav-item"><a href="{{ base_url() }}/time-table"><i class="icon-list"></i> View Timetable</a></li>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/manage-periods"><i class="icon-plus"></i> Manage Periods</a></li>
                            </ul>
                            </li>
                
                            <li class="{% if page.name == "users" %}active{% endif %}">
                                <a href="#Blog" class="has-arrow"><i class="icon-users"></i> <span>Users</span></a>
                                <ul>                                    
                                <li class="nav-item"><a href="{{ base_url() }}">Manage Admins</a></li>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/manage-students">Manage Students</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}/manage-parents">Manage Parents</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}/manage-teachers">Manage Teachers</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}">Manage Drivers</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}/users-summary">Users Summary</a></li>
                                </ul>
                            </li>
                           
                           
                           <!-- 
                            <li class="{% if page.name == "attendance" %}active{% endif %}"><a href="{{ base_url() }}/attendance"><i class="icon-check"></i> Attendance</a></li>
                            <li class="{% if page.name == "fees" %}active{% endif %}"><a href="#"><i class="icon-wallet"></i> Fees Management</a></li>
							<li><a href="#"><i class="icon-shuffle"></i> Transport Management</a></li>-->

							 <li class="{% if page.name == "assignments" %}active{% endif %}">
                                <a href="#" class="has-arrow"><i class="icon-note"></i> <span>Assignments</span></a>
                                <ul>
                                <li class="nav-item"><a href="{{ base_url() }}/manage-assignments"><i class="icon-list"></i> List All Assignments</a></li>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/create-assignment"><i class="icon-plus"></i> Create Assignment</a></li>
                            </ul>
                            </li>
                            
                            
                            <li class="{% if page.name == "school-calendar" %}active{% endif %}">
                                <a href="#uiElements" class="has-arrow"><i class="icon-bell"></i> <span>Announcements</span></a>
                                <ul>
                                <li><a href="{{ base_url() }}/notice-board-timeline"> Notice Board</a></li>
                                <li><a href="{{ base_url() }}/holiday-calendar"> Holiday Calendar</a></li>
                                <li><a href="{{ base_url() }}/events-calendar"> School Events</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="has-arrow"><i class="icon-bulb"></i> <span>E-Contents</span></a>
                                <ul>                                    
                                    <li><a href="{{ base_url() }}/posts">Dashboard</a></li>
                                    <li><a href="{{ base_url() }}/create-post">New E-Content</a></li>
                                    <li><a href="{{ base_url() }}/manage-posts">List E-Contents</a></li>
                                </ul>
                            </li>
                           
						 <li class="nav-item dropdown">
                            <a href="#">
                                <i class="icon-wrench"></i> Settings
                            </a>
                        </li>
                        </ul>
                    </nav>