<nav id="left-sidebar-nav" class="sidebar-nav">
                        <ul id="main-menu" class="metismenu">   
                        
                        <li class="active"><a href="{{ base_url() }}/school-dashboard">
                                <i class="icon-speedometer"></i> School Dashboard
                            </a></li>
                          
                            <li>
                                <a href="#Blog" class="has-arrow"><i class="icon-users"></i> <span>Users</span></a>
                                <ul>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/manage-students">Manage Students</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}">Manage Parents</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}/manage-teachers">Manage Teachers</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}">Manage Drivers</a></li>
                                <li class="nav-item"><a href="{{ base_url() }}/users-summary">Users Summary</a></li>
                                </ul>
                            </li>
                            
                            
                             <li><a href="{{ base_url() }}/attendance"><i class="icon-check"></i> Attendance</a></li>
       {#                     <li><a href="#"><i class="icon-wallet"></i> Fees Management</a></li>#}
							{#<li><a href="#"><i class="icon-shuffle"></i> Transport Management</a></li>#}

								
							 <li>
                                <a href="#" class="has-arrow"><i class="icon-note"></i> <span>Assignments</span></a>
                                <ul>
                                <li class="nav-item"><a href="{{ base_url() }}/manage-assignments"><i class="icon-list"></i> List All Assignments</a></li>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/create-assignment"><i class="icon-plus"></i> Create Assignment</a></li>
                            </ul>
                            </li>
                            
                            
                            <li>
                                <a href="#uiElements" class="has-arrow"><i class="icon-bell"></i> <span>Announcements</span></a>
                                <ul>
                                <li><a href="{{ base_url() }}/notice-board-timeline"> Notice Board</a></li>
                                <li><a href="{{ base_url() }}/school-calendar"> Holiday Calendar</a></li>
                                <li><a href="{{ base_url() }}/school-events"> School Events</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="has-arrow"><i class="icon-bulb"></i> <span>E-Contents</span></a>
                                <ul>                                    
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">New E-Content</a></li>
                                    <li><a href="#">List E-Contents</a></li>
                                </ul>
                            </li>
                            
                              

                            <li>
                                <a href="#App" class="has-arrow"><i class="icon-home"></i> <span>My Schools</span></a>
                                <ul>
                                 <li class="nav-item"><a href="{{ base_url() }}/time-table"><i class="icon-list"></i> Timetable</a></li>     
                                <li class="nav-item"><a href="{{ base_url() }}/manage-schools"><i class="icon-list"></i> List My Schools</a></li>                                    
                                <li class="nav-item"><a href="{{ base_url() }}/register-school"><i class="icon-plus"></i> Register School</a></li>
                                  <li class="nav-item"><a href="{{ base_url() }}/school-setup">
                                <i class="icon-graduation"></i> School Setup
                            </a></li>
                            
                            </ul>
                            </li>
                
                
                              <li class="active"><a href="{{ base_url() }}/profile/{{session.user_name}}">
                                <i class="icon-user"></i> Profile
                            </a></li>
                           
						 <li class="nav-item dropdown">
                            <a href="#">
                                <i class="icon-wrench"></i> Settings
                            </a>
                        </li>
                        </ul>
                    </nav>