<nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
            </div>

            <div class="navbar-brand">
                <a href="{{ base_url() }}"><img src="{{ base_url() }}/images/logo.png" alt="Talank SAS Logo" class="img-responsive logo"></a>                
            </div>
            
            <div class="navbar-right">
                <form id="navbar-search" class="navbar-form search-form">
                    <input value="" class="form-control" placeholder="Search here..." type="text">
                    <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                </form>

                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        
                         {% if session.school_name %}
                         <li>
                            <a href="#" class="icon-menu d-none d-sm-block d-md-none d-lg-block"><i class="icon-home"></i> {{session.school_name}}</a>
                        </li>
                        {% endif %}
                        
                        
                      <li>
                            <a href="#" class="icon-menu d-none d-md-none d-lg-block"><i class="fa fa-folder-open-o"></i></a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/school-calendar" class="icon-menu d-none d-sm-block d-md-none d-lg-block"><i class="icon-calendar"></i></a>
                        </li>
                       
{% set userRole = session.role_id %}
{% if userRole == 1 %}
{% elseif userRole == 2 %}
{% else %}
{% endif %}


                        <li>
                            <a href="#" class="icon-menu d-none d-sm-block d-md-none d-lg-block"><i class="icon-envelope"></i><span class="notification-dot"></span></a>
                        </li>
                        
                    
                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="icon-bell"></i>
                                <span class="notification-dot"></span>
                            </a>
                            <ul class="dropdown-menu notifications">
                            <li class="header"><strong>You have 4 new Notifications</strong></li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-info text-warning"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">St. Johns School has added a new teacher account - Neha Agrawal.</p>
                                                <span class="timestamp">10:00 AM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>                               
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-like text-success"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">St. Johns School has added a new teacher account - Pujendra Singh.</p>
                                                <span class="timestamp">11:30 AM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                 <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-pie-chart text-info"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Dolphin public school admin has logged in for the first time.</p>
                                                <span class="timestamp">04:00 PM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-info text-danger"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Dharmaveer Singh has been added as the Admin of Dolphin public school successfully.</p>
                                                <span class="timestamp">Yesterday</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="icon-equalizer"></i></a>
                            <ul class="dropdown-menu user-menu menu-icon">
                                <li class="menu-heading">ACCOUNT SETTINGS</li>
                                <li><a href="{{base_url() }}/profile"><i class="icon-note"></i> <span>My Profile</span></a></li>
                                <li><a href="{{base_url() }}/manage-permissions"><i class="icon-equalizer"></i> <span>Preferences</span></a></li>
                                <li class="menu-heading">BILLING</li>
                                <li><a href="javascript:void(0);"><i class="icon-refresh"></i> <span>View Usage</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/logout" class="icon-menu"><i class="icon-login"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>