{% extends 'applayout.twig' %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.css"/>
{% endblock %}
{% block header %}
{% include 'partials/top-header.twig' %}
{% endblock %}

{% block appnav %}
{% include 'partials/appnav.twig' %}
{% endblock %}

{% block content %}
       <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>Add New Class</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ base_url() }}/admin-dashboard"><i class="icon-home"></i></a></li>                   
                             <li class="breadcrumb-item"><a href="{{ base_url() }}/manage-classes"> Manage Classes</a></li>
                            <li class="breadcrumb-item active">New Class</li>
                        </ul>
                    </div>            
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        
                    </div>
                </div>
            </div>

        <div class="card">
			 <div class="body">
			   <form class="form-auth-small" name="createClassForm" id="createClassForm" action="{{ base_url() }}/apis/classes/create" method="POST">
               <input type="hidden" name="school_id" class="form-control" value="{{session.school_id}}" required/>
            <div class="row clearfix">
                <div class="col-lg-12">
                            <div class="form-group">
							 <label>Class Name *</label>
                                <input type="text" name="name" class="form-control" placeholder="Enter title" required/>
								<input type="hidden" name="school_id" class="form-control" value="{{session.school_id}}" required/>
                            </div>
                        </div>           
            </div>
			
			<div class="row">
			 <div class="col-lg-6 col-md-12 col-sm-12">                        
                      <div class="form-group">
							 <label>Display Name</label>
                                <input type="text" name="symbol" class="form-control" placeholder="Enter display name (Optional)"/>
                            </div>
                    </div>            
                    <div class="col-lg-6 col-md-12 col-sm-12">                        
                      <div class="form-group">
                                     <label>Select Status</label>
                                     <select name="is_enabled" class="form-control show-tick ms select2" data-placeholder="Select">
                                            <option value="1">Enabled</option>
                                            <option value="0">Not Enabled</option>
                                        </select>
                                </div>
                    </div>            
        
                </div>
			 
			<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12">
			<button type="submit" class="btn btn-primary m-t-20">Create Class</button>
			 </div></div>
			 
			 </form>
			 
			  <div id="form_overlay" style="display:none;">
					<div style="margin: 68px; text-align: center;">
					<img src="{{ base_url() }}/images/loading.gif" style="width:32px;margin:10px auto;"/>
					<h5 id="responseMsg" style="margin-bottom: 2px;"><strong>Processing Request...</strong></h5>
					<p>Please wait...</p>
					</div>					
					</div>
					
					
        </div></div> 
			
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ base_url() }}/scripts/app.js"></script>
<script src="{{ base_url() }}/scripts/create_class.js"></script>
<script src="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script> <!-- SweetAlert Plugin Js --> 
<script src="{{ base_url() }}/assets/bundles/mainscripts.bundle.js"></script>
<script src="{{ base_url() }}/assets/js/pages/forms/advanced-form-elements.js"></script>


{% endblock %}