{% extends 'applayout.twig' %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.css"/><link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
{% endblock %}
{% block header %}
{% include 'partials/top-header.twig' %}
{% endblock %}

{% block appnav %}
{% include 'partials/appnav.twig' %}
{% endblock %}

{% block content %}
       <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>Manage Assignment Submissions</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ base_url() }}/admin-dashboard"><i class="icon-home"></i></a></li>                            
                             <li class="breadcrumb-item"><a href="{{ base_url() }}/manage-assignment-submissions"> Manage Assignment Submissions</a></li>
                        </ul>
                    </div>            
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                         <a href="{{ base_url() }}/create-assignment-submission"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Add Assignment Submission</span></button></a>
                    </div>
                </div>
            </div>

           
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>List Submissions</h2>                            
                        </div>
                         <div class="body">                        
                           <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Assignment Id</th>
                                        <th>User Id</th>
                                        <th>Title</th>
                                         <th>Content</th>
                                        <th>Date Submitted</th>
                                        <th>Status</th>
                                         <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                      <th>Assignment Id</th>
                                        <th>User Id</th>
                                        <th>Title</th>
                                         <th>Content</th>
                                        <th>Date Submitted</th>
                                        <th>Status</th>
                                         <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>

     
{% if page.data %}
{% for row in page.data %}                                  
                                    <tr>
                                        <td>{{row.assignment_id}}</td>
                                        <td>{{row.user_id}}</td>
                                        <td>{{row.title}}</td>
                                        <td>{{row.content}}</td>
                                        <td>{{row.date_submitted}}</td>
                                        <td>{{row.status}}</td>
                                        <td>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;"></div>                                                
                                                </div>
                                                <small>Completion with: 48%</small>
                                            </td>
                                         <td class="actions">
                                           
                                           
                                            <a href="{{base_url()}}/edit-assignment-submission/{{row.qcode}}" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                            data-toggle="tooltip" data-original-title="Edit"><i class="icon-pencil" aria-hidden="true"></i></a>
                                             <a data-id="{{row.id}}" class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                            data-toggle="tooltip" data-original-title="Remove"><i class="icon-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %} 
 {% endif %}            
                                    
                                </tbody>
                                
                            </table>




  <form class="form-auth-small" name="deleteAssignmentForm" id="deleteAssignmentForm" action="{{ base_url() }}/apis/assignments/delete" method="POST">                    
			 <input type="hidden" name="item_id" class="form-control" value="15" required/>	
             <button type="submit" class="btn btn-primary m-t-20">DELETE</button>		  
 </form>





							</div>                      
                        </div> 
                    </div>
                </div>                
            </div>
			
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ base_url() }}/scripts/app.js"></script>
<script src="{{ base_url() }}/scripts/list_assignment_submissions.js"></script>
<script src="{{ base_url() }}/assets/bundles/datatablescripts.bundle.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script> <!-- SweetAlert Plugin Js --> 
<script src="{{ base_url() }}/assets/js/pages/tables/jquery-datatable.js"></script>
{% endblock %}