{% extends 'applayout.twig' %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.css"/>
{% endblock %}
{% block header %}
{% include 'partials/top-header.twig' %}
{% endblock %}
{% block appnav %}
{% include 'partials/appnav.twig' %}
{% endblock %}

{% block content %}
    <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>Manage Schools</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ base_url() }}/admin-dashboard"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">School Accounts</li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <a href="{{ base_url() }}/register-school"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Add School</span></button></a>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
              
                <div class="col-lg-12">
                    <div class="card">
                        
                        <div class="body">
						<div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Admin</th>
                                        <th>Users</th>
                                        <th>Connections</th>
                                        <th>Date Created</th>
                                         <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                      <th>Name</th>
                                        <th>Admin</th>
                                        <th>Users</th>
                                        <th>Connections</th>
                                        <th>Date Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
{% if page.schools %}
{% for row in page.schools %}
                                    <tr>
                                        <td>{{row.name}}</td>
                                        <td><a href="{{ base_url() }}/view-profile/{{row.owner_username}}">{{row.owner_name}}</a></td>
                                        <td>{{row.users}}</td>
                                        <td>{{row.connections}}</td>
                                        <td>{{row.date_created}}</td>
                                         <td class="actions">
                                            <a class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
                                            data-toggle="tooltip" data-original-title="Save" hidden><i class="icon-drawer" aria-hidden="true"></i></a>
                                            <a class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
                                            data-toggle="tooltip" data-original-title="Discard" hidden><i class="icon-close" aria-hidden="true"></i></a>
                                            <a href="{{ base_url() }}/edit-school/{{row.qcode}}" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                            data-toggle="tooltip" data-original-title="Edit"><i class="icon-pencil" aria-hidden="true"></i></a>
                                            <a data-id="{{row.qcode}}" data-url="{{ base_url() }}" class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                            data-toggle="tooltip" data-original-title="Remove"><i class="icon-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
{% endfor %}
{% endif %}
                                </tbody>
                            </table>
							</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ base_url() }}/scripts/app.js"></script>
<script src="{{ base_url() }}/scripts/list_schools.js"></script>
<script src="{{ base_url() }}/assets/bundles/datatablescripts.bundle.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script> <!-- SweetAlert Plugin Js --> 
<script src="{{ base_url() }}/assets/js/pages/tables/jquery-datatable.js"></script>
{% endblock %}