{% extends 'applayout.twig' %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.css"/>
<link rel="stylesheet" href="{{ base_url() }}/assets/css/blog.css">
{% endblock %}
{% block header %}
{% include 'partials/top-header.twig' %}
{% endblock %}
{% block appnav %}
{% include 'partials/appnav.twig' %}
{% endblock %}

{% block content %}
    <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>E-Learning Center</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ base_url() }}"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">List E-Contents</li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <a href="{{ base_url() }}/create-post"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Add New E-Content</span></button></a>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!--- Start Post Card-->
					  <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ base_url() }}/assets/images/posts/econtent.jpg" alt="Post">
                            </div>
                            <h3><a href="{{ base_url() }}/post-detail">Christmas Caroll - Story Telling</a></h3>
                        </div>
                        <div class="footer">
						 <ul class="stats">
                                <li><a href="javascript:void(0);">English</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">Read now</a>
                            </div>
                           
                        </div>
                    </div>
					<!--- End Post Card--></div>
					
					<div class="col-lg-4 col-md-4 col-sm-12">
					<!--- Start Post Card-->
					  <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ base_url() }}/assets/images/posts/econtent.jpg" alt="Post">
                            </div>
                            <h3><a href="{{ base_url() }}/post-detail">Atoms & Molecules - Metaphysical Look</a></h3>
                        </div>
                        <div class="footer">
						 <ul class="stats">
                                <li><a href="javascript:void(0);">Science</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">18</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">1</a></li>
                            </ul>
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">Read now</a>
                            </div>
                           
                        </div>
                    </div>
					<!--- End Post Card--></div>
					
					<div class="col-lg-4 col-md-4 col-sm-12">
					<!--- Start Post Card-->
					  <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ base_url() }}/assets/images/posts/econtent.jpg" alt="Post">
                            </div>
                            <h3><a href="{{ base_url() }}/post-detail">Creative Writing</a></h3>
                        </div>
                        <div class="footer">
						 <ul class="stats">
                                <li><a href="javascript:void(0);">English</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">21</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">8</a></li>
                            </ul>
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">Read now</a>
                            </div>
                           
                        </div>
                    </div>
					<!--- End Post Card--></div>
					
                </div>      



 <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!--- Start Post Card-->
					  <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ base_url() }}/assets/images/posts/econtent.jpg" alt="Post">
                            </div>
                            <h3><a href="{{ base_url() }}/post-detail">Christmas Caroll - Story Telling</a></h3>
                        </div>
                        <div class="footer">
						 <ul class="stats">
                                <li><a href="javascript:void(0);">English</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">Read now</a>
                            </div>
                           
                        </div>
                    </div>
					<!--- End Post Card--></div>
	
	 <div class="col-lg-4 col-md-4 col-sm-12">
	 <!--- Start Post Card-->
					  <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ base_url() }}/assets/images/posts/econtent.jpg" alt="Post">
                            </div>
                            <h3><a href="{{ base_url() }}/post-detail">Christmas Caroll - Story Telling</a></h3>
                        </div>
                        <div class="footer">
						 <ul class="stats">
                                <li><a href="javascript:void(0);">English</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">Read now</a>
                            </div>
                           
                        </div>
                    </div>
					<!--- End Post Card--></div>
					
					 <div class="col-lg-4 col-md-4 col-sm-12">
					 <!--- Start Post Card-->
					  <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ base_url() }}/assets/images/posts/econtent.jpg" alt="Post">
                            </div>
                            <h3><a href="{{ base_url() }}/post-detail">Christmas Caroll - Story Telling</a></h3>
                        </div>
                        <div class="footer">
						 <ul class="stats">
                                <li><a href="javascript:void(0);">English</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">Read now</a>
                            </div>
                           
                        </div>
                    </div>
					<!--- End Post Card--></div>
					
                </div>      

				
			</div>	
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ base_url() }}/scripts/app.js"></script>
<script src="{{ base_url() }}/scripts/list_topics.js"></script>
<script src="{{ base_url() }}/assets/bundles/datatablescripts.bundle.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script> <!-- SweetAlert Plugin Js --> 
<script src="{{ base_url() }}/assets/js/pages/tables/jquery-datatable.js"></script>
{% endblock %}