{% extends 'applayout.twig' %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.css"/>
{% endblock %}
{% block header %}
{% include 'partials/top-header.twig' %}
{% endblock %}
{% block appnav %}
{% include 'partials/appnav.twig' %}
{% endblock %}

{% block content %}
    <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>Manage Posts</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ base_url() }}"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item"><a href="{{ base_url() }}/posts">E-Learning Zone</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <a href="{{ base_url() }}/create-post"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Add New Post</span></button></a>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
              
                <div class="col-lg-12">
                    <div class="card">
                       <div class="body">
						<div class="table-responsive">

                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
										<th><i class="icon-eye text-success"></i> Views</th>
                                        <th><i class="icon-like text-success"></i> Likes</th>
                                        <th><i class="icon-bubble text-info"></i> Comments</th>
                                         <th>Post Date</th>
                                         <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                      <th>Title</th>
                                        <th>Author</th>
										<th><i class="icon-eye text-success"></i> Views</th>
                                        <th><i class="icon-like text-success"></i> Likes</th>
                                        <th><i class="icon-bubble text-info"></i> Comments</th>
										 <th>Post Date</th>
                                         <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                    {% if page.data %}
                    {% for row in page.data %}
                                    <tr>                        
                                        <td>{{row.title}}</td>
										<td>{{row.author_name}}</td>
										<td>{{row.numViews}}</td>
										<td>
										{{row.numLikes}}</td>
                                        <td>{{row.numComments}}</td>
									    <td>{{row.date_created}}</td>                                   
										
                                         <td class="actions">
										  <a href="{{ base_url() }}/post-detail/{{row.qcode}}" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                            data-toggle="tooltip" data-original-title="View Post"><i class="icon-eye" aria-hidden="true"></i></a>
											
                                            <a href="{{ base_url() }}/edit-post/{{row.qcode}}" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                            data-toggle="tooltip" data-original-title="Edit Post"><i class="icon-pencil" aria-hidden="true"></i></a>
                                            <a data-id="{{row.qcode}}" dd="{{ base_url() }}/" class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove" data-toggle="tooltip" data-original-title="Delete Post"><i class="icon-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                    {% endfor %}
                    {% endif %}
                                </tbody>
                            </table>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ base_url() }}/scripts/app.js"></script>
<script src="{{ base_url() }}/scripts/list_posts.js"></script>
<script src="{{ base_url() }}/assets/bundles/datatablescripts.bundle.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="{{ base_url() }}/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="{{ base_url() }}/assets/js/pages/tables/jquery-datatable.js"></script>
{% endblock %}