{% extends 'applayout.twig' %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ base_url() }}/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/multi-select/css/multi-select.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/select2/select2.css" />
<link rel="stylesheet" href="{{ base_url() }}/vendor/dropify/css/dropify.min.css">
<link rel="stylesheet" href="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.css"/>
{% endblock %}
{% block header %}
{% include 'partials/top-header.twig' %}
{% endblock %}

{% block appnav %}
{% include 'partials/appnav.twig' %}
{% endblock %}

{% block content %}
       <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>Evaluate Assignment</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ base_url() }}/admin-dashboard"><i class="icon-home"></i></a></li>                            
                             <li class="breadcrumb-item"><a href="{{ base_url() }}/manage-assignments"> Assignments</a></li>
                            <li class="breadcrumb-item active">Assignment Evaluation</li>
                        </ul>
                    </div>            
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                         <a type="button" href="{{ base_url() }}/view-assignment" class="btn btn-primary">View Assignment</a>
                    </div>
                </div>
            </div>


<div class="row clearfix">
<div class="col-lg-4 col-md-12 col-sm-12">
{% include 'widgets/assignment_card.twig' %}
</div>
<div class="col-lg-8 col-md-12 col-sm-12">
{% include 'widgets/review_assignment_submission.twig' %}
</div>
</div>
            

            
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ base_url() }}/scripts/evaluate-assignment.js"></script>
<script src="{{ base_url() }}/vendor/select2/select2.min.js"></script>    
<script src="{{ base_url() }}/assets/bundles/mainscripts.bundle.js"></script>
<script src="{{ base_url() }}/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
<script src="{{ base_url() }}/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base_url() }}/assets/js/pages/forms/advanced-form-elements.js"></script>
<script>
$('.select2').select2();
</script> 
<script src="{{ base_url() }}/vendor/dropify/js/dropify.min.js"></script>
<script src="{{ base_url() }}/assets/js/pages/forms/dropify.js"></script>
<script src="{{ base_url() }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script> <!-- SweetAlert Plugin Js --> 
{% endblock %}