 <!----Latest Activities Widget --->
                     <div class="card">
                        <div class="header">
                            <h2>RECENT ACTIVITIES</h2>
                        </div>
                        <div class="body">                           
                            <ul class="right_chat list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="{{ base_url() }}/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Chris Fox <small class="float-right">Just now</small></span>
                                                <span class="message">Created a new assignment - Environmental Pollution Summary Writing.</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="{{ base_url() }}/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Lucky Singh<small class="float-right">38 minutes ago</small></span>
                                                <span class="message">Published the results for Assignment - Science Project Report.</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="{{ base_url() }}/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella <small class="float-right">2 hours ago</small></span>
                                                <span class="message">Added a new driver account for Ravinesh Verma.</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="{{ base_url() }}/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Folisise Chosielie <small class="float-right">32 hours ago</small></span>
                                                <span class="message">Deleted the account for Maths teacher - Mayank Mehta.</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="{{ base_url() }}/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander <small class="float-right">1 day ago</small></span>
                                                <span class="message">Published a new event - Science Exhibition.</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>                        
                            </ul>
                        </div>
                    </div>
                <!----Latest Activities Widget --->   