	<div id="projectOverlay" style="display:none;">
					<div style="margin: 60px;padding:30px; text-align: center;">
					<img src="{{ base_url() }}/img/loading.gif" style="margin: 20px;"/>
				
{% if page.editMode %}
	<h3><strong>Updating Project </strong></h3>
{% else %}
	<h3><strong>Adding Project </strong></h3>
{% endif %}
					<h5>Please wait...</h5>
					</div>					
					</div>

{% if page.editMode %}
{% set formName = 'editServiceForm' %}
{% set formUrl = 'services/update' %}
{% else %}
{% set formName = 'addServiceForm' %}
{% set formUrl = 'services/create' %}
{% endif %}
<form id="{{formName}}" name="{{formName}}" action="{{base_url()}}/{{formUrl}}" class="form-horizontal form-bordered" enctype="multipart/form-data" method="POST">
                    
                    
								<section class="panel">
									<header class="panel-heading">
					
										<h2 class="panel-title">{{page.page_title}}</h2>
										<p class="panel-subtitle">
											{{page.description}}
										</p>
									</header>
									<div class="panel-body" style="padding: 10px 20px 10px 20px;">
										<div class="validation-message">
											<ul></ul>
										</div>
										{% if page.editMode %}
<input type="hidden" name="item_id" value="{{service.service_id}}">
{% endif %}
										<input type="hidden" name="is_front" value="1">
										<input type="hidden" name="pre_body" value="">
										
									
<!--- Start Row fields -->
<div class="row" style="margin-top:10px;">
<div class="col-md-6" style="padding-right:20px;">
	<div class="form-group">
												<label class="col-md-3 control-label" style="font-weight: bold;color:#333;">Upload Project Image</label>
												<div class="col-md-6">
												    <img src="{{base_url()}}/img/holder.png" class="rounded img-responsive" id="imagePreview" style="width:200px;">
												    
													<div class="fileupload fileupload-new" data-provides="fileupload">
														<div class="input-append">
															<div class="uneditable-input">
																<i class="fa fa-file fileupload-exists"></i>
																<span class="fileupload-preview"></span>
															</div>
															<span class="btn btn-default btn-file">
																<span class="fileupload-exists">Change</span>
																<span class="fileupload-new">Select file</span>
																<input type="file" name="image" id="projectImg" onChange="projectImgPreview()"/>
															</span>
															<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
														</div>
													</div>
												</div>
											</div>


</div>
<div class="col-md-6">

<div class="form-group">
<h5>Project Title</h5>
<input type="text" name="title" id="title" value="{% if service.title %}{{service.title}}{% endif %}" class="form-control" placeholder="Enter project title." required/>
</div>
	
	<div class="form-group">
<h5>Project Category <span class="required">*</span></h5>											    
											    <select class="form-control populate" name="category_id" id="category_id">
											        	{% if page.editMode %}
			<option value="{{service.category_id}}">{{service.category}}</option>
            {% endif %}
									<option value="">Select a category</option>	
										{% if page.categories %}
            {% for currency_row in page.categories %}
			<option value="{{currency_row.id}}">{{currency_row.title}}</option>
			{% endfor %}
            {% endif %}
								</select></div>
								
<div class="form-group">
<h5>Project Tags</h5>
<input type="text" name="tag" id="tag" value="{% if service.tag %}{{service.tag}}{% endif %}" class="form-control" placeholder="Enter comma separated tags"/>
</div>

										
</div>
</div>
<!--- Ends Row fields -->


<!--- Start Row fields -->
<div class="row" style="margin-top:10px;">
<div class="col-md-4 col-sm-12">
<div class="form-group"><label class="control-label">Project Pricing <span class="required">*</span></label>
											<div class="">
												<input type="number" pattern="[0-9]*" name="price" id="price" value="{% if service.price %}{{service.price}}{% endif %}" class="form-control" placeholder="Enter project title." required/>
											</div></div>
</div>
<div class="col-md-4 col-sm-12">
<div class="form-group">
											<label class="control-label">CO2 Amount Units <span class="required">*</span></label>
											<div class="">
												<input type="number" name="unit_amount" id="unit_amount" value="{% if service.unit_amount %}{{service.unit_amount}}{% endif %}" class="form-control" placeholder="Enter project title." required/>
											</div>
										</div>								
</div>
<div class="col-md-4 col-sm-12">		
	<div class="form-group">
											<label class="control-label">Unit Name <span class="required">*</span></label>
											<div class="">
												<input type="text" name="unit_name" id="unit_name" value="{% if service.unit_name %}{{service.unit_name}}{% endif %}" class="form-control" placeholder="Plase enter project title." required/>
											</div>
										</div>							
</div>
</div>
<!--- Ends Row fields -->
											
									
										
										<div class="form-group">
											<label class="col-sm-3 control-label">Project Pricing <span class="required">*</span></label>
											<div class="">
												<input type="number" name="price" id="price" value="{% if service.price %}{{service.price}}{% endif %}" class="form-control" placeholder="Enter project title." required/>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label">CO2 Amount Units <span class="required">*</span></label>
											<div class="col-sm-9">
												<input type="number" name="unit_amount" id="unit_amount" value="{% if service.unit_amount %}{{service.unit_amount}}{% endif %}" class="form-control" placeholder="Enter project title." required/>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label">Unit Name <span class="required">*</span></label>
											<div class="col-sm-9">
												<input type="text" name="unit_name" id="unit_name" value="{% if service.unit_name %}{{service.unit_name}}{% endif %}" class="form-control" placeholder="Plase enter project title." required/>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label">Project Description <span class="required">*</span></label>
											<div class="col-sm-9">
													<textarea class="form-control" rows="3" placeholder="Enter short description here" 
												name="description" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 74px;">{% if page.editMode %}{{service.description}}{% endif %}</textarea>
										
											</div>
										</div>
											<div class="form-group">
											<label class="col-sm-3 control-label">Project Body <span class="required">*</span></label>
											<div class="col-sm-9">
				
												<textarea class="form-control" rows="3" placeholder="Enter long description here" 
												name="body" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 74px;">{% if page.editMode %}{{service.body}}{% endif %}</textarea>
											</div>
										</div>
										
										
										
										
										
										
										
											<div class="form-group">
											<label class="col-sm-3 control-label">Minimum Price <span class="required">*</span></label>
											<div class="col-sm-9">
											<div class="input-group mb-md">
														<span class="input-group-addon">$</span>
														<input type="text" class="form-control" name="price" value="{% if service.price %}{{service.price}}{% endif %}">
														<span class="input-group-addon ">.00</span>
													</div>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label"></label>
											<div class="col-sm-9">
											<div class="checkbox-custom checkbox-default">
																<input type="checkbox" name="is_published" value="1" {% if page.editMode %}checked="1"{% endif %} id="checkboxExample1">
																<label for="checkboxExample1">Make this project available for everyone.</label>
															</div>
											</div>
										</div>
										
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button class="btn btn-primary">Submit</button>
												<button type="reset" class="btn btn-default">Reset</button>
											</div>
										</div>
									</footer>
								</section>
							</form>                   